.aws-btn {
  justify-content: start;
  --button-default-height: 54px;
  --button-default-font-size: 16px;
  --button-default-border-radius: 6px;
  --button-raise-level: 5px;
  --button-hover-pressure: 2.5;
  --transform-speed: 0.225s;
  --button-primary-color: linear-gradient(
    222deg,
    rgb(41, 41, 41) 0%,
    rgb(144, 144, 144) 100%
  );
  --button-primary-color-dark: #525252;
  --button-primary-color-light: #d9d8d8;
  --button-primary-color-hover: linear-gradient(
    222deg,
    rgb(91, 91, 91) 0%,
    rgb(77, 77, 77) 100%
  );
  --button-primary-border: 0px solid #ffffff;
}

.aws-btn__content {
  width: 100% !important;
  justify-content: start !important;
}
