@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

.footer{
    color: #eee;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
    font-family: 'Fredoka', sans-serif;
    letter-spacing: 1px;
    background-color: #444;
}