@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #222;
  border-radius: 50px;
  width: 5px;
}

body {
  width: 100%;
  height: 100%;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background: linear-gradient(
    70deg,
    rgb(111, 211, 213) 19%,
    rgb(14, 148, 153) 48%,
    rgb(7, 177, 233) 79%
  );
  background-position: center center;
}

@font-face {
  font-family: "Cascadia Code Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Cascadia Code Regular"),
    url("../public/font/Cascadia.woff") format("woff");
}

.cssContainer {
  width: 100%;
  max-width: 1090px;
  display: flex;
  margin: 0 auto;
  margin-left: 100px;
  flex-direction: column;
  align-items: center;
  padding: 130px 10px 10px;
  min-height: calc(100vh - 54px);
}

@media (max-width: 767px) {
  .cssContainer {
    padding: 0px;
    margin: 0px;
    height: auto;
  }
}

.titleSection {
  color: #fff;
  align-self: flex-start;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.topBox {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 18px;
  justify-content: center;
  gap: 50px;
}

.previewText {
  color: #fff;
}

.previewContainer {
  width: 100%;
  height: 350px;
  background: linear-gradient(
    222deg,
    rgba(63, 74, 93, 1) 0%,
    rgba(27, 23, 27, 1) 100%
  );
  padding: 0px 10px 10px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.previewBox {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  background-color: #fff;
  margin-top: 10px;
  align-self: center;
  align-items: center;
  overflow: hidden;
}

.previewDiv {
  width: 50%;
  height: 70%;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .previewDiv {
    width: 60%;
  }
}

.previewText {
  display: flex;
  align-items: center;
  color: #333;
  text-align: center;
  width: 88%;
  justify-content: center;
  margin: 0 auto;
}

.copyWraper span,
.option_wraper span,
.preview_wraper span {
  color: #fff;
  font-size: 18px;
}

.copyWraper {
  width: 100%;
  margin-bottom: 58px;
}

.codeBox {
  width: 100%;
  height: 150px;
  background: linear-gradient(
    222deg,
    rgba(63, 74, 93, 1) 0%,
    rgba(27, 23, 27, 1) 100%
  );
  padding: 20px;
  border-radius: 5px 5px 0 0;
  align-items: center;
  color: #fff;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.copyBtn {
  width: 100%;
  height: 45px;
  font-size: 18px;
  border-radius: 0 0 5px 5px;
  outline: 2px solid #444;
  outline-offset: -2px;
  cursor: pointer;
  border: none;
  background: linear-gradient(
    222deg,
    rgb(140, 139, 138) 0%,
    rgb(97, 97, 95) 100%
  );
  color: #fff;
  transition: all 0.5s ease;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.copyBtn:hover {
  color: #eee;
  background: linear-gradient(
    222deg,
    rgb(174, 171, 170) 0%,
    rgb(140, 140, 139) 100%
  );
}

.codeBox span {
  margin: 0 3px;
  font-family: "Cascadia Code Regular";
}

.codeBox span.code_one {
  color: #80cbc4;
}

.codeBox span.code_two {
  color: #addb67;
}

.codeBox span.code_three {
  color: #f78c6c;
}

.option_wraper {
  width: 100%;
  padding: 30px 20px;
  border-radius: 5px;
  background: linear-gradient(
    222deg,
    rgba(63, 74, 93, 1) 0%,
    rgba(27, 23, 27, 1) 100%
  );
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.options {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.input_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_box label {
  color: #fff;
}

.input_box input,
select {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 0 10px;
}

input[type="range"] {
  height: 8px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #dcdcdc;
  border-radius: 3px;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background: linear-gradient(
    222deg,
    rgba(94, 1, 152, 1) 0%,
    rgba(197, 18, 205, 1) 100%
  );

  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

input[type="range"]::-webkit-slider-thumb:active {
  height: 25px;
  width: 25px;
}

.drop_preview {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop_preview img {
  width: 350px;
}

.box_Shadow_example {
  width: 150px;
  height: 150px;
  background: linear-gradient(
    222deg,
    rgba(244, 67, 54, 1) 0%,
    rgba(162, 12, 1, 1) 100%
  );
}

.color_Grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.col_color {
  grid-column: span 4;
}

@media screen and (max-width: 1024px) {
  .top_box {
    flex-direction: column-reverse;
    gap: 20px;
  }
}

@media screen and (max-width: 650px) {
  .preview_wraper,
  .codeBox,
  .copyBtn {
    width: 400px;
  }

  .options {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5px;
  }

  .responsive_code span,
  pre,
  p {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .preview_wraper,
  .codeBox,
  .copyBtn {
    width: 350px;
  }

  .input_box {
    width: 100%;
    margin-top: 20px;
  }

  input {
    width: 100%;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  height: fit-content;
}

.columnMenu {
  width: 35%;
  padding-top: 40px;
  max-width: 300px;
  flex-grow: 1;
  overflow-y: auto;
  background: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 57px;
}

.menuButton {
  margin-bottom: 10px !important;
  width: 90% !important;
}

.menuButtonInt {
  display: flex;
  flex-direction: row;
  justify-content: start !important;
  text-align: start !important;
  align-items: center !important;
  width: 100% !important;
  position: initial !important;
}

.text-left {
  text-align: left !important;
}

@media (max-width: 767px) {
  .row {
    display: block;
    position: relative;
    height: 100vh;
  }

  .columnMenu {
    width: 100%;
    max-width: 100%;
    padding-top: 40px;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    height: auto;
    position: none;
  }
}

.mobileButtonContainer {
  width: 100%;
  height: 40px;
  clear: both;
  background: #fff;
  font-size: 20px;
  padding-top: 70px;
  padding-bottom: 40px;
}

.cardContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 140px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media (max-width: 600px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}

.homeCard {
  background-size: cover;
  background: linear-gradient(
    240deg,
    rgb(253, 253, 253) 19%,
    rgb(236, 238, 238) 48%,
    rgb(223, 223, 223) 79%
  );
  width: 100%;
  margin: 0 auto;
  min-height: 250px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  line-height: 40px;
}

.homeCard:hover {
  transform: translateY(-5px) !important;
  background: linear-gradient(
    240deg,
    rgb(236, 236, 236) 19%,
    rgb(220, 220, 220) 48%,
    rgb(193, 192, 192) 79%
  );
}

.cardIcon {
  width: 100%;
  text-align: center;
  font-size: 60px;
  margin-top: 20px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9) !important;
}

.cardTitle {
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  color: #dd574e;
}

.cardText {
  font-size: 14px;
  text-align: center;
  color: #444;
}
